.App {
  text-align: center;
}
.about{
  font-size: 24px;
  text-align:left;
}
.blurb{
  font-size:18px;
  text-align:left;
}
.edu{
  position:relative;
  padding-top:40px;
  text-align:left;
}
.osu-img{
  padding-top:30px;
  float:left;
  width:50%;
}
.edu-wrapper{
  padding-top:50px;
}
.edu, .intr{
  display:inline
}
.intr{
  padding-left:30%;
}